
.success-button {
    cursor: pointer;
    background-color: #056128;
    border: 2px solid #056128;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top:  20px;
    width: 100%;
}

.error-button {
    cursor: pointer;
    background-color: red;
    border: 2px solid red;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top:  20px;
    width: 100%;
}

.clear-button {
    cursor: pointer;
    background-color: #70706d;
    border: 2px solid #70706d;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top:  20px;
    width: 100%;
}